{% extends "global/base.html" %}

{% block main %}

<body class="p-4">


    <div class="container">
        <h2>Login</h2>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Usuário</label>
                <input type="text" class="form-control" id="username" placeholder="Digite seu usuário">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
            </div>
            <button type="button" class="btn btn-primary" onclick="verificarLogin()">Entrar</button>
            <button type="button" class="btn btn-danger" onclick="limparCampos()">Limpar</button>
           
        </form>
        <div id="alerta"></div>
    </div>


    <script>
        function verificarLogin() {
            var user = document.getElementById("username").value;
            var pass = document.getElementById("password").value;


            if (user === "" || pass === "") {
                document.getElementById("alerta").innerHTML =
                    '<div class="alert alert-warning" role="alert">Por favor, preencha todos os campos!</div>';
            } else if (user === "bkzin" && pass === "12345") {
                document.getElementById("alerta").innerHTML =
                    '<div class="alert alert-success" role="alert">Login realizado com sucesso!</div>';
                   window.location.href = "index.html"; // Redireciona para a página index.html
            } else {
                document.getElementById("alerta").innerHTML =
                    '<div class="alert alert-danger" role="alert">Usuário ou senha incorretos!</div>';
            }
        }


        function limparCampos() {
        document.getElementById("alerta").innerHTML = ""; // Limpa o conteúdo da div
    }      
    </script>


</body>
{% endblock main %}